:root{
  --main: #51c4d3;
  --white: #d8e3e7;
}

.grid-container{
  display: grid;
  margin-top: 40px;
  width: 100%;
  grid-gap: 40px;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
}
.grid-box{
  background-color: var(--main);
  box-shadow: 2px 2px 8px var(--main);
  border-radius: 10px;
  text-align: center;
  padding: 0 30px 30px;
}
.profile{
  grid-column: span 2;
  grid-row: span 2;
}
.agents, .companies, .queries, .pending-task{
  grid-column: span 1;
  grid-row: span 1;
  text-align: center;
}
