.grid-container {
  display: grid;
  margin-top: 40px;
  width: 100%;
  grid-gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(5, 17%);
  padding-bottom: 20px;
}

.grid-box {
  background-color: var(--white);
  box-shadow: 2px 2px 10px var(--main);
  border-radius: 15px;
  border: 1px solid var(--main);
  color: #111111;
  padding: 20px 30px;
}

a {
  text-decoration: none;
}

/* ----------------------------------Dashboard------------------------- */
.dash-profile {
  grid-column: span 3;
  grid-row: span 2;
  text-align: center;
}

.dash-agents, .dash-companies, .dash-queries, .dash-pending-task {
  grid-column: span 1;
  grid-row: span 1;
}

.dash-box-header {
  font-size: 25px;
}

.dash-count {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.dash-box-header span {
  font-size: 25px;
  padding-right: 10px;
}

.dash-task-list {
  grid-column: span 3;
  grid-row: span 1;
}
.dash-task{
  font-size: 20px;
  /* margin-bottom: 15px; */
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.dash-task-date{
  font-size: 20px;
}
.viewtask-button{
  text-align: center;
}
.viewtask-button a{
  font-size: 25px;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid var(--main);
  box-shadow: 2px 2px 10px var(--main);
  border-radius: 0 10px 0 10px;
}
.viewtask-button a:hover{
  background-color: var(--main);
  color: var(--white);
  transition: ease 0.4s;
}
.dash-query-list{
  grid-column: span 2;
  grid-row: span 1;
}
.dash-query{
  font-size: 20px;
  /* margin-bottom: 15px; */
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/* -------------------------------------------Add User---------------------------- */
.add-user {
  grid-column: span 5;
  grid-row: auto;
  padding: 50px 50px 20px;
}

.adduser-title {
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.adduser-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 50px;
  background: var(--main);
}

form {
  margin-top: 40px;
}

.adduser-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.input-container {
  width: 50%;
  margin-bottom: 15px;
}

.acc-radiobutton {
  display: none;
}

.acc-label {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 0 10px 0 10px;
}

.acc-radiobutton:checked+.acc-label {
  transition: linear 0.3s;
  background-color: var(--main);
  color: var(--white);
}

.input-container label {
  font-size: 20px;
}

.input-container input {
  outline: none;
  width: 55%;
  padding: 5px 8px;
  font-size: 18px;
  background-color: transparent;
  border: 1.5px var(--black) solid;
  border-radius: 10px 0 10px 0;
}

input:focus {
  border: 2px var(--main) solid;
  background-color: #d8e3e7;
}

.adduser-btn {
  padding: 10px 25px;
  color: var(--white);
  border-radius: 10px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  border: 1.5px var(--main) solid;
  background-color: var(--main);
}

.adduser-btn:hover {
  background-color: #d8e3e7;
  color: var(--main);
  border: 1.5px var(--main) solid;
  transition: ease 0.4s;
}

/* ---------------------------------------New Queries-------------------------- */
.query-box {
  grid-column: span 5;
  padding: 20px 50px 20px;
  position: relative;
  align-content: center;
}

.query-item {
  box-shadow: 2px 2px 10px var(--main);
  border-radius: 15px;
  width: 75%;
  display: grid;
  padding: 20px;
  margin-bottom: 10px;
  grid-template-columns: 3fr 1fr;
}
.query-info{
  grid-row: span 3;
}
.query-date{
  grid-row: span 2;
}


.modal{
    top: 15%;
    width: 450px;
    left: 35%;
    position: absolute;
    border: 1px solid gray;
    padding: 10px 30px;
    background-color: red;
    z-index: 100;
    border-radius: 5px;
    color: white;
}
.modal-close{
    right: 0;
    top: 0;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 25px;
    color: whitesmoke;
    position: absolute;
}
.modal-cont{
    margin: 10px 0;
    padding: 10px 15px;
}
.modal-delete-btn{
    right: 0;
    padding: 5px 20px;
    border: 1px solid red;
    color: red;
    background-color: white;
    border-radius: 14px;
    text-align: center;
    font-weight: bold;
    float: right;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.modal-delete-btn:hover{
    color: red;
    border: 1px solid red;
    background-color: whitesmoke;
}
