*
{
  margin:0px;
  padding:0px;
}

body{
  margin:0px;
  background-color:	goldenrod;
}
.title{
    background-image:url("../image/img1.jpg");
    max-width: 100%;
    height:650px;
}

.cc{
  padding-left: 200px;
  padding-top: 100px;
  color:white;
  font-size: 50px;
}

.ccs{
  padding-top: 200px;
}



.grid-container{
  width:100%;
  height:100px;
  padding-bottom: 10px;
  display:grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
}
.box{
  width:250px;
  height:100px;
  background-color:#1e1e26;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 5px;
}
.model{
  height:250px;
  max-height: 100%;
  max-width: 100%;
  margin-top: 0px;
}
