/* code coming soon */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */
*{
  cursor: default;
}
body{
  font-family: 'Rubik', sans-serif;
  background-color: #111111;
  padding: 0px;
  margin: 0px;
  color: #d8e3e7;
}
/* -------------- 1.HEAD SECTION ----------------- */
.head-section{
  height: 100vh;
  background-color:black;
  /* background-color: yellow; */
}
.head-section video{
  position: absolute;
  top: 25%;
  left: 28%;
  width: 1000px;
}
.CodeUp{
  /* background-color: red; */
  background: linear-gradient(to right, #d8e3e7 50%, #126e82 50%, #51c4d3, #d8e3e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
  background-size: 200%;
  position: absolute;
  top: 25%;
  left: 10%;
  float: left;

}
.CodeUp:hover{
  background-position: -100%;
}
.CodeUp p{
  font-size: 30px;
  letter-spacing: 5px;
}
.CodeUp h1{
  letter-spacing: 5px;
  line-height: 5px;
  font-size: 200px;
}
.logo{
  /* background-color: blue; */
  position: absolute;
  float: right;
  top: 37%;
  right: 5%;
}
.logo img{
  width: 250px;
}
.moto{
  text-align: center;
  font-size: 30px;
  color: white;
}

.btn-services{
  border-radius: 5px;
  background:white;
  color: black;
  align-items: center;
  align-content: center;
  margin-left: 45%;
  height:50px;
  width:150px;
  border-color: #51c4d3;
  font-size: 20px;
}

.btn-services:hover{
  background-color: #51c4d3;
}
