/* code coming soon */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */
*{
  cursor: default;
}
body{
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(180deg, black 15%, #111111,#49b5ff,#fcff45 , #2dffda);
  padding: 0px;
  margin: 0px;
  color: #d8e3e7;
}
/* -------------- 1.HEAD SECTION ----------------- */
.container{
  height: 100vh;
   background-color: black;
}
.CodeUp{
  /* background-color: red; */
  background: linear-gradient(to right, white 60%, #3bf3ff, #3bf3ff, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
  background-size: 200%;
  position: absolute;
  top: 10%;
  left: 7%;
  float: left;
}
.CodeUp:hover{
  background-position: -100%;
}
.CodeUp p{
  font-size: 35px;
  letter-spacing: 7px;
}
.CodeUp h1{
  letter-spacing: 5px;
  line-height: 5px;
  font-size: 180px;
}
.logo{
  /* background-color: blue;   */
  position: absolute;
  float: right;
  top: 45%;
  right: 7%;
}
.logo img{
  width: 450px;
}
.container video{
  position: absolute;
  top: 40%;
  left: 27%;
  width: 1000px;
}

/* --------------- 2. ATTRACT-SECTION ------------*/
.attract{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.box{
  position: relative;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.text{
  position: absolute;
  top: 45%;
  left: 10%;
  font-size: 40px;

}
.image{
  position: absolute;
  top: 20%;
  right: 5%;
}
.image video{
  width: 550px;
    border-radius: 10px;
}
/* #box1{
  background-color: #d8e3e7;
}
#box2{
  background-color: #51c4d3;
}
#box3{
  background-color: #111111;s
}
#box4{
  background-color: #126e82;
}
#box5{
  background-color: #d8e3e7;
<<<<<<< HEAD
}
=======
} */ */
/* check
>>>>>>> ecb61a3a5b3c3dce67f5eab54ef5831d6d740d99
