/* Brand Colorcode: https://colorhunt.co/palette/273466 */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient( black 16%, #111111);
  color: #d8e3e7;
  cursor: default;
  margin: 0;
}

/* --------------------ANIMATIONS------------------------ */
@keyframes swing {
    0% { transform: rotate(4deg); }
    50%{ transform: rotate(-4deg);}
    100% { transform: rotate(4deg); }
}
@keyframes glow {
  0% {opacity: 50%}
  50% {opacity: 100%}
  100% {opacity: 50%}
}
@keyframes transdown{
	from {opacity: 0; transform: translateY(-100px);}
	to {opacity: 1;	transform: translateY(0px);}
}
@keyframes transleft{
	from {opacity: 0; transform: translateX(100px);}
	to {opacity: 1;	transform: translateX(0px);}
}
/* -----------Navigation--------------------------- */
header{
  position: fixed;
  padding: 0px 50px;
  height: 9vh;
  width: 100%;
  padding: 0px;
  display: none;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(216, 227, 231,0.5);
}
header.sticky{
  animation-name: transdown;
  animation-duration: 0.8s;
  background: rgb(17, 17, 17,0.5);
  display: block;
}
.nav-logo{
  position: absolute;
  top: 15px;
  left: 40px;
  cursor: pointer;
}
.nav-logo span{
  position: absolute;
  top: 12px;
  left: 70px;
  letter-spacing: 4px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.nav-logo:hover{
  animation-name: glow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.nav-logo img{
    width: 55px;
}
.menu-bar{
  position: fixed;
  z-index: 4;
  top: 12px;
  right: 40px;
  cursor: pointer;
}
.menu-bar img{
  width: 65px;
  transform-origin: center -20px;
}
.menu-bar img:hover{
  animation-name: swing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#menu{
  position: fixed;
  text-align: right;
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: none;
  background-color: rgb(4, 4, 4, 0.8);
}
#menu ul{
  position: relative;
  right: 30px;
  top: 20vh;
  letter-spacing: 9px;
  line-height: 45px;
  font-weight: bolder;
  list-style-type: none;
}
#menu a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  cursor: pointer;
  animation-name: transleft;
  animation-duration: 0.8s;
}
#menu a:hover,
.nav-logo span:hover{
  color: #3bf3ff;
  transition: ease-in .2s;
}

/* ------------login and registration form---------------- */
.popup{
      width: 25%;
      height:auto;
      position: fixed;
      left: 45%;
      top: 45%;
      background-color: rgba(216, 227, 231, 0.95);
      padding: 20px;
      border-radius: 15px;
      overflow: hidden;
      z-index: 10000;
      transform: translate(-50%,-150%) scale(0);
      color: #111111;
}
.popup.active{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
.close{
  float: right;
  font-size: 20px;
  /* padding: 3px; */
  cursor: pointer;
 }
 .popup h4{
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
 }
.login-form{
   text-align: center;
   padding: 0px 30px;
 }
.radio-div
{
  width: 100%;
  margin: 0;
  display: inline-flex;
  overflow: hidden;
}
.acc-radiobutton{
  display: none;
}
.acc-label
{
  width: 100%;
  padding:10px 20px;
  border-radius: 5px 5px 0 0;
  color: black;
}
.acc-label:hover{
  cursor: pointer;
}
.acc-radiobutton:checked + .acc-label{
  transition: linear 0.5s;
  background-color: rgba(81, 195, 210, 0.95);
}
.credential{
  background-color: rgba(81, 195, 210, 0.95);
  padding: 0 20px 20px;
  border-radius: 5px 5px 5px 5px;
  margin: 0 0 15px;
  /* width: 100%; */
}
.credential input{
  font-size: 18px;
  text-align: center;
  width: 80%;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #111111;
  margin-top: 20px;
  background: transparent;
}
::placeholder{
  color: rgba(17, 17, 17, 0.87);
}
:focus::placeholder{
  color: transparent;
}
.credential input:focus{
  outline: none;
  border-radius: 5px;
  background-color: rgb(168, 225, 232, 0.95);
}

button.sign-in
{
	padding: 10px 30px;
	cursor: pointer;
	background: rgba(81, 195, 210, 0.95);
  color: #111111;
	border: 0;
	outline: none;
	border-radius: 20px;
  font-size: 1.1em;
}
button.sign-in:hover{
  transition: ease-in 0.3s;
  background: #126e82;
  color: white;
}

/* ------------------------Footer---------------------------- */
.footer{
  background-color: #51c4d3;
  padding: 20px 10px 10px;
  height: auto;
  max-width: 100vw;
}
.footer-idea{
  text-align: center;
}
.footer-idea a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  line-height: 30px;
  cursor: pointer;
}
.footer-email{
  padding-left: 20px;
  color: white;
}
.footer-logo{
  text-align: center;
}
.footer-logo img{
  width: 55px;
  cursor: pointer;
}
.copyright{
  text-align: center;
  color: white;
  font-family: Montserrat-Regular;
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: normal;
}

/* -------------- 1.HEAD SECTION ----------------- */
.container{
  height: 100vh;
  position: relative;
}
.CodeUp{
  background: linear-gradient(to right, white 60%, #3bf3ff, #3bf3ff, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
  background-size: 200%;
  position: absolute;
  top: 13%;
  left: 30%;
  float: left;
}
.CodeUp:hover{
  background-position: -100%;
}
.CodeUp p{
  font-size: 35px;
  letter-spacing: 7px;
}
.CodeUp h1{
  letter-spacing: 5px;
  line-height: 5px;
  padding-left: 30px;
  font-size: 150px;
}
.logo{}
.logo img{
  width: 20%;
  opacity: 0.9;
  position: absolute;
  float: right;
  top: 20%;
  left: 5%;
}
.container video{
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: -1;
  opacity: 0.9;
  width: 50%;
}

/* --------------- 2. ATTRACT-SECTION ------------*/
.attract{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.attract h1{
  text-align: center;
  /* margin: 0 0 50px; */
  padding: 0;
  font-size: 100px;
}
.box{
  display: flex;
  /* height: 90vh; */
  margin-bottom: 50px;
  padding: 0px;
}
.text{
  flex: 1;
  padding-left: 100px;
  padding-top: 50px;
  font-size: 40px;
}
.text h2{
  font-size: 50px;
  letter-spacing: 3px;
  color: #ffffff;
}
.text p{
  font-size: 27px;
  letter-spacing: 3px;
}
.image{
  text-align: center;
  flex: 1;
}
.image video{
  width: 500px;
  border-radius: 20px;
}
.service-link{
  width: auto;
  padding: 20px 10px;
  text-align: center;
}
.service-link a{
  text-decoration: none;
  font-size: 50px;
  color: white;
  cursor: pointer;
}
.service-link a:hover{
  color: #3bf3ff;
  transition: ease-in .3s;
}

/* -------------Responsive Design--------------- */
@media screen and (max-width: 1300px) {
  .CodeUp p{
    font-size: 28px;
  }
  .CodeUp h1{
    font-size: 100px;
  }
  .container video{
    width: 550px;
    left: 25%;
  }
  .logo img{
    width: 250px;
  }
  .text h2{
    font-size: 40px;
  }
  .text p{
    font-size: 20px;
  }
  .image video{
    width: 300px;
  }
  .box{
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 450px) {
}
