/* --------------------ANIMATIONS------------------------ */
@keyframes swing {
    0% { transform: rotate(4deg); }
    50%{ transform: rotate(-4deg);}
    100% { transform: rotate(4deg); }
}
@keyframes glow {
  0% {opacity: 50%}
  50% {opacity: 100%}
  100% {opacity: 50%}
}
@keyframes transdown{
	from {opacity: 0; transform: translateY(-100px);}
	to {opacity: 1;	transform: translateY(0px);}
}
@keyframes transleft{
	from {opacity: 0; transform: translateX(100px);}
	to {opacity: 1;	transform: translateX(0px);}
}
/* -----------Navigation--------------------------- */
header{
  position: fixed;
  top: 0;
  padding: 0 50px;
  height: 9vh;
  width: 100%;
  padding: 0;
  animation-name: transdown;
  animation-duration: 0.8s;
  background: rgb(17, 17, 17,0.5);
}
.nav-logo{
  position: fixed;
  top: 15px;
  left: 40px;
}
.nav-logo:hover{
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.nav-logo span{
  position: fixed;
  top: 25px;
  left: 105px;
  letter-spacing: 4px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.nav-logo img{
    width: 55px;
}
.menu-bar{
  position: fixed;
  z-index: 4;
  top: 12px;
  right: 40px;
}
.menu-bar img{
  width: 65px;
  transform-origin: center -20px;
}
.menu-bar img:hover{
  animation-name: swing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#menu{
  position: fixed;
  text-align: right;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
  display: none;
  background-color: rgb(4, 4, 4, 0.8);
}
#menu ul,#menu portal-btn{
  position: relative;
  right: 30px;
  top: 20vh;
  letter-spacing: 9px;
  line-height: 40px;
  font-weight: bolder;
  list-style-type: none;
}
#menu a,#menu portal-btn{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  cursor: pointer;
  animation-name: transleft;
  animation-duration: 0.8s;
}
#menu a:hover,
.nav-logo span:hover{
  color: #3bf3ff;
}

/* ------------login and registration form---------------- */
div.popup div.content {
      width:360px;
      height:380px;
      position:fixed;
      left: 50%;
      top: 50%;
      background-color: black;
      padding: 10px;
      border-radius: 7px;
      overflow: hidden;
      z-index: 10000;
      transform: translate(-50%,-150%) scale(0);
}
div.content span.close{
     position: absolute;
     right: 10px;
     top: 5px;
     color: teal;
     font-size: 1.5em;
     padding: 3px;
     cursor: pointer;
 }
div.popup.active div.content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}
div.login-head{
    position: relative;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 3px;
    top: 3%;
    color: #fff;
}
div.button-box
{
  width:92%;
  left: 4%;
  top: 1.6%;
  text-align: center;
	position:relative;
	box-shadow: 0 0 20px 9px #126e82;
	border-radius: 20px;
}
div button.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
  color: white;
  font-weight: bold;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #126e82;
	border-radius: 30px;
	transition: .5s;
}
form.input-group-user,form.input-group-company,form.input-group-admin
{
	top: 47%;;
	position:absolute;
	width:85%;
  left: 7.5%;
	transition:.5s;
}
input.input-field
{
	width: 100%;
  font-size: 1.1em;
	padding:15px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
  cursor: text;
	background: transparent;
}
input.input-field:hover{
  background: transparent;
  /* box-shadow: 0 0 20px 9px #126e82; */
}
button.submit-btn
{
  position: absolute;
  margin-top: 12%;
	/* width: 85%; */
  /* left: 7.5%; */
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	background: #126e82;
  color: #fff;
	border: 0;
	outline: none;
	border-radius: 20px;
  font-size: 1.1em;
}
button.submit-btn:hover{
    background: #51c4d3;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* box-shadow: 0 0 20px 9px #126e82; */
}
#user
{
	left:32px;
}
#user input
{
	color:white;
	font-size:15;
}
#company
{
	left:432px;
}
#company input
{
	color:white;
	font-size: 15;
}
#admin
{
    left: 832px;
}
#admin input
{
	color:white;
	font-size: 15;
}
/* ---------Footer----------- */
.footer{
  background-color: #51c4d3;
  padding: 30px 10px 10px;
  height: auto;
  max-width: 100vw;
}
.footer-idea{
  text-align: center;
}
.footer-idea a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  line-height: 30px;
  cursor: pointer;
}
.footer-logo{
  text-align: center;
}
.footer-logo img{
  width: 55px;
  cursor: pointer;
}
.copyright{
  text-align: center;
  font-family: Montserrat-Regular;
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: normal;
}
