*{
  cursor: default;
}
body{
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
  background: linear-gradient( black 16%,  #0056c7, #7900b3);
  color: #d8e3e7;
  background: teal;
  box-sizing: border-box;
}


/* Navigation CSS */

i{
    font-size: 25px;
}

div.menu-section{
  padding: 5px 10px;
  right: 10px;
  top: 4px;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
}

div.menu-section:hover{
  animation-name: glow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#menu{
  display: none;
  position: fixed;
  background-color: pink;
  animation: menuglow;
  animation-duration: 1s;
  height: 100vh;
  width: 50%;
  left: 50%;
  bottom: 0px;
  z-index: 1;
}
#menu a{
  text-decoration: none;
  font-family: 'Train One', cursive;
  color: black;
}
#menu a:hover{
  color: grey;
}
#menu ul{
  text-align: right;
  position: absolute;
  font-size: 50px;
  font-weight: 800;
  line-height: 42px;
  letter-spacing: 8px;
  text-transform: uppercase;
  top: 25vh;
  right: 1vh;
  list-style-type: none;
}






/* Register & Sign Up Form */

button.portal-btn{
    outline: none;
    background: transparent;
    text-align: right;
    position: absolute;
    font-size: 25px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    top: 35vh;
    right: 1vh;
    list-style-type: none;
    cursor: pointer;
}


div.popup div.content {
      width:360px;
      height:380px;
      position:fixed;
      left: 50%;
      top: 50%;
      background: linear-gradient(370deg,#ededd0,transparent);
      padding:10px;
      border-radius: 7px;
      overflow: hidden;
      z-index: 1;
      transform: translate(-50%,-150%) scale(0);
}

div.content span.close{
     position: absolute;
     right: 10px;
     top: 5px;
     color: teal;
     font-size: 1.5em;
     padding: 3px;
     cursor: pointer;
 }


div.popup.active div.content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
}


div.login-head{
    position: relative;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    top: 3%;
    color: #fff;
}

div.button-box
{
	width:90%;
  left: 5%;
  top: 1.6%;
  text-align: center;
	position:relative;
	box-shadow: 0 0 20px 9px teal;
	border-radius: 20px;
}

div button.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
  color: white;
  font-weight: bold;
}

#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: teal;
	border-radius: 30px;
	transition: .5s;
}

form.input-group-user,form.input-group-company,form.input-group-admin
{
	top: 47%;;
	position:absolute;
	width:85%;
  left: 7.5%;
	transition:.5s;
}


input.input-field
{
	width: 100%;
	padding:10px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}

input.input-field:hover{
  background: transparent;
  box-shadow: 0 0 20px 9px teal;
}


button.submit-btn
{
  position: relative;
  margin-top: 12%;
	width: 85%;
  left: 7.5%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	background: teal;
  color: #fff;
	border: 0;
	outline: none;
	border-radius: 20px;
}

button.submit-btn:hover{
    background: transparent;
    box-shadow: 0 0 20px 9px teal;
}

#user
{
	left:32px;
}

#user input
{
	color:white;
	font-size:15;
}

#company
{
	left:432px;
}

#company input
{
	color:white;
	font-size: 15;
}

#admin
{
    left: 832px;
}

#admin input
{
	color:white;
	font-size: 15;
}
