
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.sidebar
{
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #027581;
  color: #fff;
  overflow-y: auto;
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0rem 1rem;
}

.sidebar-menu{
  padding: 1rem;
  position: relative;
  top: 2%;
}

.sidebar li{
  margin-bottom: 1.2rem;
}

.sidebar a{
  color: #fff;
  font-size: 1rem;
}

.sidebar a:active{
    color: #d8e3e7;
}


.sidebar a span:last-child{
  padding-left:.5rem;
}

.main-content{
  position: relative;
  margin-left:240px;

}
header{
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width:calc(100% - 240px);
  background: #fff;
  height: 60px;
  display: flex;
  padding: 0rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.search-wrap{
  display: flex;
}

.ti-search{
      line-height: 2;
}

.search-wrap input{
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 30px;
}

.social-icons{
  display: flex;
  align-items: center;

}

/* .social-icons span,
.social-icons div{
  margin-left:1.2rem;
} */

.social-icons div{
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../MEDIA/logo.png");
  border-radius: 50%;
}

main{
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 4rem;
}

.dash-title{
  color: #1D2231;
  margin-bottom: 1rem;
}



/* task form css */
.task{
      position: relative;
      background: transparent;
      width: 100%;
      height: 100vh;
      float: right;
}

.task h1{
      position: absolute;
      top: 12%;
      font-size: 40px;
      color: teal;
      left: 5%;
}

.create-btn{
      position:relative;
      top: 20%;
      left: 75%;
      text-align: center;
      margin: 10px 0px 0px;
      font-size: 25px;
      text-decoration: none;
      color: black;
      padding: 5px 10px;
      border: 1px solid var(--main);
      box-shadow: 2px 2px 10px var(--main);
      border-radius: 0 10px 0 10px;
      cursor:pointer;
}

.edit-btn{
      position:relative;
      top: 20%;
      left: 75%;
      text-align: center;
      margin: 10px 0px 0px;
      font-size: 25px;
      text-decoration: none;
      color: black;
      padding: 5px 10px;
      border: 1px solid var(--main);
      box-shadow: 2px 2px 10px var(--main);
      border-radius: 0 10px 0 10px;
      cursor:pointer;
}



.task-form{
      position: absolute;
      top: 35%;
      width: 80%;
      left: 10%;
      height: 20vh;
}

.task-form .form-content {
    position: absolute;
    transform: translate(-50%,-150%) scale(0);
    width: 100%;
    left: 50%;
}


.task-form.active .form-content{
transition: all 300ms ease-in-out;
transform: translate(-50%,-50%) scale(1);
}

.form-content{
      position: relative;
      top: 35%;
      width: 90%;
      left: 5%;
}


.form-content legend{
  text-align: center;
  font-size: 2em;
  color: teal;
  margin-left: calc(10% - 35px - 8px);
}


.task-label-div{
      width: 15%;
      float: left;
}
.task-input-div{
      width: 35%;
      float: left;
}

.task-label-div label{
      font-size: 1.2em;
      font-weight: lighter;
      color: teal;
      position: relative;
      left: 5%;
      line-height: 3.5;
}

.task-input-div textarea{
      position: relative;
      resize: none;
      width: 90%;
      left: 5%;
      height: 10vh;
      border-radius: 10px;
      background: transparent;
      border: 2px 0 solid pink;
      outline: 0;
}

.task-btn{
    position:relative;
    margin: 1%;
    float: right;
    /* left: 75%; */
    background:linear-gradient(to bottom, white 5%, teal 90%);
    outline: 0;
    border: 0;
    cursor:pointer;
    color:#ffffff;
    font-size:1em;
    padding:7px 28px;
    border-radius: 0 10px 0 10px;

}


.task-btn:hover{
    background: transparent;
    color: teal;
    box-shadow: 2px 2px 4px 3px teal;
}

.close-btn {
  position:relative;
  margin: 1%;
  float: right;
  background:linear-gradient(to bottom, white 5%, red 90%);
  outline: 0;
  border: 0;
  cursor:pointer;
  color:#ffffff;
  font-size:1em;
  padding:7px 28px;
  border-radius: 0 10px 0 10px;
}
.close-btn:hover{
    background: transparent;
    color: red;
    box-shadow: 2px 2px 4px 3px red;
}
